.common_prep_wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 10vh;
    overflow: hidden;
    .common_prep_out {
        display: grid;
        grid-template-columns: 1fr 340px;
        grid-gap: 28px;
        .common_prep_left {
            flex-grow: 0;
            .banner_img {
                border-radius: 26px;
                overflow: hidden;
                margin-bottom: 2vh;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            img {
                width: 100%;
                height: auto;
            }
        }
        .common_prep_right {
            flex-grow: 0;
            border: 1px red solid;
        }
    }
}
